/* DOCUMENT SETUP */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

html, body {
    width: 100%;
    height: 100%;
}

:root {
    --ln: 1px solid #ccc;
    --page-margin: 3rem;
    --nav-height: 72px;
    --footer-height: 72px;
    --h1: 26px;
}

/*NAV*/

nav {
    height: var(--nav-height);
    /* border-bottom: var(--ln); */
    padding: 0 var(--page-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .links {
    display: flex;
    gap: 2.5rem;
}

nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color:#DA7D30;
}

nav .burger {
    display: none;
}

.menu {
    display: none;
}

/* SHELL */
#shell {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#bio {
    grid-column: span 4;
    height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border-right: var(--ln);*/
    background-image: url(../images/pfp-image.svg);
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: 0% 30%;
}

#bio > .bubble {
    width: 58%;
    padding: 1rem;
    transform: translate(90%, var(--page-margin));
    border: 1px solid black;
    border-radius: 0.5rem;
    /* box-shadow: 0.4rem 0.4rem 0 black; */
    background-color: white;
}

.bubble {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bubble h1 {
    font-size: var(--h1);
}
/* FOOTER */

#bio > footer {
    height: var(--footer-height);
    padding: 0 var(--page-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border-top: var(--ln); */
}

.footermobile {
    height: var(--footer-height);
    padding: 0 var(--page-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.footermobile {
    display: none;
}

.social > * {
    height: 32px;
    width: 32px;
}

.social {
    display: flex;
    gap: 2rem;
}

.linkedin {
    background-image: url(../images/linkedin-logo.png);
    background-size: cover;
}

.mail {
    background-image: url(../images/mail-logo.png);
    background-size: cover;
}

.instagram {
    background-image: url(../images/instagram-logo.png);
    background-size: cover;
}

/*MAIN */

main {
    grid-column: span 8;
    overflow-y: scroll;
    max-height: calc(100vh - var(--nav-height));
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    gap: var(--page-margin);
    background-color: #F3F1Ed;
}

.sectiontitle {
   font-size: 1.3rem;
}

.sectiontitle h2 {
    color: #DA7D30;
}

main > .projects {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

main > .projects > .casestudygroup {
    display: flex;
    flex-direction: column;
    gap: var(--page-margin);
}

main > .projects > .casestudygroup > .casestudy {
    min-height: 300px;
    display: flex;
    border: var(--ln);
    border-radius: 1rem;
}

main > .projects > .casestudygroup > .casestudy > .left {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-right: var(--ln); 
}

main > .projects > .casestudygroup > .casestudy > .right {
    flex: 3;
}

#casestudy1 {
    background-image: url(../images/wires-mock-up.png);
    background-size: 130%;
    background-position: 70% 70%;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: pointer;
}

#casestudy1:hover {
    transform:scale(1.1);
}

#casestudy2 {
    background-image: url(../images/curiado-mock-up.png);
    background-size: 130%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: pointer;
}

#casestudy2:hover {
    transform:scale(1.1);
}

#casestudy3 {
    background-image: url(../images/cer-mock-up.png);
    background-size: 130%;
    background-position: 70% 70%;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: pointer;
}

#casestudy3:hover {
    transform: scale(1.1);
}

/* #casestudy4 {
    background-image: url(../Images/wires-mock-up.png);
    background-size: 130%;
    background-position: 70% 70%;
    background-repeat: no-repeat;
} */

.skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.softwares {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(2 1fr);
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.softwares > * {
    /* border: var(--ln); */
    height: 7rem;
    width: 7rem;
}

.figma {
    background-image: url(../images/figma.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 1/2;
}

.html {
    background-image: url(../images/html.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 1/2;
}

.css {
    background-image: url(../images/css.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 3/4;
    grid-row: 1/2;
}

.ai {
    background-image: url(../images/illustrator.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1/2;
    grid-row: 2/3;
}

.ps {
    background-image: url(../images/photoshop.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2/3;
    grid-row: 2/3;
}

.pr {
    background-image: url(../images/premiere-pro.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 3/4;
    grid-row: 2/3;
}

button {
    width: 30%;
    min-height: 36px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.4rem;
    box-shadow: 0.2rem 0.2rem 0 black;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
}

button:active {
    box-shadow: 3px 3px white;
    transition: 0.3ms;
    transform: scale(0.9);
}


/* MEDIA QUERIES */

/*1200px SCREEN */

@media only screen and (max-width: 1200px) {
    .casestudy > .left > button {
        width: 40%;
    }
}

/* 992px SCREEN */

@media only screen and (max-width: 992px) {
    #bio {
        background-position: 0 40%;
    }
    
    #bio > .bubble {
        width: 60%;    
    }

    main {
        padding: 3rem 5rem;
    }

    #bio > footer {
        padding: 0 1rem;
    }

    .social {
        gap: 1rem;
    }

    .casestudy > .left > button {
        width: 50%;
    }
} 


/* 796px SCREEN */

@media only screen and (max-width: 796px) {
    #shell {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #bio {
        z-index: 1;
        background-size: 30%;
        background-position: 0% 50%;
        max-height: 50vh;
    }

    #bio > .bubble {
        transform: translate(50%, var(--page-margin));
    }

    #bio > footer {
        display: none;
    }

    .footermobile {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    main {
        padding: 5rem 2rem;
        overflow-y: visible;
        min-height: 300vh;
       }
       
       main > .casestudy > .right {
        flex: 2;
       }
}

/* 600px SCREEN */

@media only screen and (max-width: 600px) {
    #bio {
        background-size: 40%;
        background-position: 0% 70%;
    }

    #bio > .bubble {
        transform: translate(55%, var(--page-margin));
    }

    nav .links {
        display: none;
    }

    nav .burger {
        display: inherit;
        transform: rotate(90deg);
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;        
    }
} 

    .menu {
        position: fixed;
        width: 100vw;
        z-index: 2;
    }

     .menu .menu-item {
        background-color: black;
        color: white;
        height: 56px;
        padding: 0 var(--page-margin);
        font-size: 18px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,0.12);
    } 

    .intiallyHidden {
        display: none;
    }