/* DOCUMENT SETUP */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* Adjustment so that stepper and nav can stay sticky */
body, main {
    min-height: 200vh;
}

:root {
    --ln: 1px solid #424242;
    --page-margin: 3rem;
    --nav-height: 72px;
    --footer-height: 72px;
}

/*NAV*/

nav {
    height: var(--nav-height);
    padding: 0 var(--page-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0;
}

nav .links {
    display: flex;
    gap: 2.5rem;
}

nav a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color:#DA7D30;
}

nav .burger {
    display: none;
}

.menu {
    display: none;
}

/*HERO IMAGE */

#heroimg {
    height: 50vh;
    background-color: #F3F1Ed;
    background-image: url(../images/wires-mock-up.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 65%;
}

/* MAIN CONTENT */
#shell {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0rem 3rem;
    margin-top: 3rem;
}

/* STEPPER */
#stepper {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 30vh;
    position: sticky;
    top: 71px;
    background-color: white;
}

.step {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.number {
    border: 1px solid black;
    box-shadow: 0.15rem 0.15rem 0 black;
    border-radius: 50%;
    text-align: center;
    padding: 0.25rem;
    min-width: 2rem;
    min-height: 2rem;
    font-weight: 700;
    transition: 0.3s;
    text-decoration: none;
}

.number:hover {
    box-shadow: 0.35rem 0.35rem 0 black;
}

.number:active {
    box-shadow: none;
    transition: 0.3ms;
    transform: scale(0.9);
}

/*MAIN */
main {
    grid-column: span 10;
    max-height: calc(100vh - var(--nav-height));
    display: flex;
    flex-direction: column;
}

.casestudysection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    font-weight: 700;
    font-size: 2rem;
    color: #DA7D30;
}

.sectioncontent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.overviewdetails {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 1rem;
}

/*Research */

#wiresimg {
    display: flex;
    justify-content: space-evenly;
}

#wiresimg1 {
    height: 50vh;
    width: 45%;
    background-image: url(../images/wiresimg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s;
}

#wiresimg1:hover {
    transform: scale(1.05);
}

#wiresimg2 {
    height: 50vh;
    width: 45%;
    background-image: url(../images/wiresimg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor:pointer;
    transition: 0.3s;
}

#wiresimg2:hover {
    transform: scale(1.05);
}

.problemdetails {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#colorproblem p, #navproblem p, #contentproblem p {
    margin-top: 1rem;
}

/*MEDIA QUERIES */

/*1150px screen*/
@media only screen and (max-width: 1150px) {
    #stepper {
        grid-column: span 12;
        flex-direction: row;
        height: 10vh;
    }

    main {
        grid-column: span 12;
        margin-top: 3rem;
    }

    #heroimg {
        background-size: 90%;
    }

    #wiresimg1 {
        background-size: contain;
        height: 40vh;
    }
    #wiresimg2 {
        background-size: contain;
        height: 40vh;
    }
}

/* 796px screen*/
@media only screen and (max-width: 796px) {
    .overviewdetails {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    
    #team {
        grid-column: span 6;
    }

    #roles {
        grid-column: span 6;
    }

    #timeframe {
        grid-column: span 6;
        margin-top: 1rem;
    }

    #tools {
        grid-column: span 6;
        margin-top: 1rem;
    }

    #wiresimg {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    #wiresimg1 {
        width: 100%;
        background-size: cover;
        height: 70vh;
    }

    #wiresimg2 {
        width: 100%;
        background-size: cover;
    }
}


/*600px screen*/
@media only screen and (max-width: 600px) {
    nav {
        padding: 0 2rem;
    }

    nav .links {
        display: none;
    }

    nav .burger {
        display: inherit;
        transform: rotate(90deg);
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;        
    }

    .menu {
        position: fixed;
        width: 100vw;
        z-index: 2;
    }

     .menu .menu-item {
        background-color: black;
        color: white;
        height: 56px;
        padding: 0 var(--page-margin);
        font-size: 18px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,0.12);
    } 

    .intiallyHidden {
        display: none;
    }

    #heroimg {
        background-size: 130%;
        background-position: 70% 50%;
    }

    .number {
        display: none;
    }

    #stepper {
        background-color: white;
        margin-top: 2rem;
    }

    #shell {
        margin: 0 2rem;
    }

    .steptitle {
        border: 1px solid black;
        padding: 0.4rem;
        border-radius: 1rem;
        box-shadow: 0.1rem 0.1rem 0 black;
    }
}
